{% extends 'base.html' %}
{% block content %}
	<h1>create user</h1>
	<hr>
	<h3>Form 1</h3>
	<form action="." method="" enctype="multipart/form-data">
	    {% csrf_token %}
	    <label>Nama :</label>
	    <input type="text" name="nama"><br><br>
	    <label>Image :</label>
	    <input type="file" name="picture"><br><br>
	    <input type="submit" name="" value="submit">
  	</form>

  	<hr>
  	<h3>Form 2</h3>
  	<form action="." method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
	  	{{ form.as_p }}
	  	<input type="submit" name="" value="submit">
  	</form>

  	<hr>
  	<h3>Form 3</h3>
  	<form action="." method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
	  	  {{ form.nama }}
	  	  <br>
	  	  {{ form.picture }}
	  	<input type="submit" name="" value="submit">
  	</form>


{% endblock %}